/* Button.module.css */

/* Basic Button Styling */
.styledButton {
    background-color: #000d1a;
    color: #ebebff;
    padding: 5px 15px;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    /* transition: background-color 0.3s ease, transform 0.3s ease; */
    /* Smooth transition */
}

/* Hover Effect */
.styledButton:hover {
    background-color: #16162f;
    transform: scale(1.05);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
    /* Slightly enlarge the button */
}

